:root {
    --primary-color: #323233;
    --nav-color: #8957e6;
    --text-color: white;
    --nav-bg-color: #8957e64b;
}

body {
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links button {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    overflow: white;
}

.core  {
    background-color: var(--primary-color);
}

p{
    color: var(--text-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}